EnjoyYourWaitNetSite/.vs/
EnjoyYourWaitNetSite/bin/
EnjoyYourWaitNetSite/obj/
EnjoyYourWaitNetSite/Entities/obj/Debug/netstandard2.0/Entities.AssemblyInfo.cs
EnjoyYourWaitNetSite/Entities/obj/
EnjoyYourWaitNetSite/EnjoyYourWaitNetSite.csproj.user
EnjoyYourWaitNetSite/BusinessLogic/obj/
EnjoyYourWaitNetSite/DataAccess/obj/
/.vs
