@{
    ViewBag.Title = "Juegos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="titulo-secundario">@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-4 col-juegos">
        <button class="carta-juego" onclick="location.href='Memotest'">Memotest</button>
    </div>
    <div class="col-md-4 col-juegos">
        <button class="carta-juego" onclick="location.href='Ruleta'">Ruleta</button>
    </div>
    <div class="col-md-4 col-juegos">
        <p><i>Proximamente más juegos.</i></p>
    </div>
</div>
