@model EnjoyYourWaitNetSite.Models.UserAuthenticationViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>LogIn - TGV GPC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <div>
        @if (ViewBag.SuccessState != null)
        {
            <div id="messageModal" class="modal">
                <div class="modal-dialog">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                @switch (ViewBag.SuccessState)
                                {
                                    case "LOGIN_FAILED":
                                        <p>El nombre de usuario o la contraseña son invalidos.</p>
                                        break;
                                    case "TOKEN_FAILED":
                                        <p>Se produjo un error inesperado al iniciar sesión.</p>
                                        break;
                                }
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-success" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                $(function () {
                    $('#messageModal').modal('show');
                });
            </script>
        }
    </div>
    <div>
        @using (Html.BeginForm("LoginAuth", "Login", FormMethod.Post))
        {
            <div class="card shadow-lg" style="width: 30%; height: 35%; position: absolute; top: 15%; left: 35%;">
                <div class="card-body">
                    <div class="row justify-content-center">
                        <table>
                            <tr>
                                <td>
                                    <div class="form-group row">
                                        <label>Nombre de usuario:</label>
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control mt-1 shadow" })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group row">
                                        <label>Contraseña:</label>
                                        @Html.PasswordFor(model => model.Contrasena, new { @class = "form-control mt-1 shadow" })
                                        @Html.ValidationMessageFor(model => model.Contrasena, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="submit" value="Iniciar Sesión" class="btn btn-sm btn-success float-right mt-2 mb-2 shadow" /></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
</body>
</html>