@model EnjoyYourWaitNetSite.Models.ProductoViewModel
@{
    ViewBag.Title = "Gestión de Productos";
}
<div>
    @if (ViewBag.SuccessState != null)
    {
        <div id="messageModal" class="modal">
            <div class="modal-dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            @switch (ViewBag.SuccessState)
                            {
                                case "LOAD_FAILED":
                                    <p>Error al cargar los productos.</p>
                                    break;
                                case "ADD_SUCCESS":
                                    <p>El producto se agregó correctamente.</p>
                                    break;
                                case "ADD_FAILED":
                                    <p>Error al agregar el producto.</p>
                                    break;
                                case "DELETE_SUCCESS":
                                    <p>El producto se eliminó correctamente.</p>
                                    break;
                                case "DELETE_FAILED":
                                    <p>Error al eliminar el producto.</p>
                                    break;
                                case "UPDATE_SUCCESS":
                                    <p>El producto se modificó correctamente.</p>
                                    break;
                                case "UPDATE_FAILED":
                                    <p>Error al modificar el producto.</p>
                                    break;
                            }
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-success" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @if (Model != null)
    {
        <div id="deleteModal" class="modal">
            <div class="modal-dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Eliminar</h5>
                        </div>
                        <div class="modal-body">
                            <p>¿Desea eliminar el producto seleccionado?</p>
                        </div>
                        <div class="modal-footer">
                            @using (Html.BeginForm("EliminarProducto", "Producto", FormMethod.Post))
                            {
                                <input id="inProducto" name="idProducto" type="hidden">
                                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cancelar</button>
                                <input type="submit" class="btn btn-sm btn-danger" value="Eliminar">
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col justify-content-center">
                <div class="row mt-3">
                    <div class="col">
                        <font class="float-left" size="5">Productos</font>
                        <button type="button" id="btnRegistrarProducto" class="btn btn-success btn-sm float-right" onclick="location.href='@Url.Action("AbrirRegistroProducto", "Producto")'">Registrar</button>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Precio</th>
                                        <th scope="col">Imagen</th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var producto in Model.lstProducto)
                                    {
                                        <tr>
                                            <td class="align-middle">@producto.Nombre</td>
                                            <td class="align-middle">$@producto.Precio</td>
                                            <td class="align-middle">
                                                <div style="display: inline-block" id="img_prod" class="col-sm-6 col-md-3 col-xl-5ths film-item, col-int-index">
                                                    <img class="img-responsive center-block lazy" src="~/Content/img/@producto.Imagen" style="display: block;">
                                                </div>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-success btn-sm item-update-selection"
                                                        onclick="location.href='@Url.Action("AbrirModificarProducto", "Producto", producto)'">
                                                    Modificar
                                                </button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger btn-sm item-delete-selection"
                                                        item-id="@producto.IdProducto">
                                                    Borrar
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section scripts
{
    @if (ViewBag.SuccessState != null)
    {
        <script>
            $(function () {
                $('#messageModal').modal('show');
            });
        </script>
    }
    @if (Model != null)
    {
        <script>
            $(function () {
                $(".item-delete-selection").click(function () {
                    var $itemClicked = $(this);
                    var id = $itemClicked.attr('item-id');
                    $("#inProducto").val(id);
                    $("#deleteModal").modal("show");
                });
            });
        </script>
    }
}